.cardComponent {
  width: 159px;
  height: 232px;
}

.card {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  width: 159px;
  height: 205px;
  border-radius: 10px;
}

.follows {
  background-color: var(--color-black);
  color: var(--color-primary);
  width: 71px;
  height: 23px;
  margin: 6px;
  padding: 4px 8px 4px 8px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 400;
}

.title {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  margin: 5px;
}
